<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/main.min.css">
<script src="https://kit.fontawesome.com/afc99787a6.js"></script>
<title>Home page</title>
</head>
<body class="home">
    <div class="wrapper">
        <div class="content"> 
            
            <div class="container-full header-container">
             	<header class="header">
                    <div class="header__wrap">
                        <div class="header-left">
                            <a href="#" class="header__link active">
                                <span>Men</span>
                            </a>
                            <a href="#" class="header__link">
                                <span>Women</span>
                            </a>
                            <span class="account-mobile hidden-tablet">
                                <a href="#" class="header__link">
                                    <span>Wishlist</span>
                                </a>
                            </span>              
                        </div>
                        
                        <div class="logo-wrap"> 
                            <div class="logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="logo img"/>
                                </a>
                            </div>
                        </div>
                   
                        <div class="header-right d-flex align-items-center">
                            <div class="search">
                                <input type="search" placeholder="Search">
                                <span class="search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="header__user d-flex align-items-center">
                                <a href="#" class="login">
                                    <span class="icon">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a href="#" class="wishlist">
                                    <span class="icon">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>         
                        </div>
                	</div>
            	</header>
            </div>