html, body{
  height: 100%;
} 

body {
  line-height: 1.4;
  font-family: $font-main;
  background-color: $body-color;
  color: #000;
}

a {
  color: #000;
  font-family: $font-bold;
}

h2 {
  font-size: 45px;
  line-height: 1;
  font-family: $font-main;
  text-transform: uppercase;
}


// ======= Flex-clases =========
.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}

.j-content-between {
  justify-content: space-between;
}

.j-content-around {
  justify-content: space-around;
}

.j-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.f-wrapp {
  flex-wrap: wrap;
}

// ========== footer-down =======
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

// =========== global styles =======
.container-full {
  max-width: 1920;
  margin: 0 auto;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 25px;
  }
}

.container-main {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 25px;
  }
}

.main {
  margin-top: 105px;
  padding: 20px 0 50px;

  @media (min-width: 768px) {
    margin-top: 140px;
    padding: 30px 0;
  }
}

.row-wrap {
  display: flex;
  width: 100%;
}

.text-center {
  text-align: center;
}

.color-red {
  background-color: $color-red;
}

.color-yellow {
  background-color: $color-yellow;
}

.hidden-tablet {
  @media (min-width: 768px) {
      display: none !important;
  }
}

.hidden-mobile {
  display: none !important;

  @media (min-width: 768px) {
      display: block !important;
  }
}

.position-fixed {
  position: fixed;
}

// ======== filter =======
.filter {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 9px 0 9px 15px;
  border-top: $border;
  border-bottom: $border;
  background-color: #fff;
  z-index: 10;

  @media (min-width: 768px) {
    top: 76px;
    bottom: auto;
    padding: 15px 0;
  }

  &-box {
    width: 100%;
  }

  &__item {
    height: 33px;
    padding: 0 15px 3px;
    margin: 0 10px 0 0;
    text-align: center;
    color: #c7c7c7;  
    border: $border;
    border-radius: 4px;
    cursor: pointer;

    @media (min-width: 768px) {
      color: $color-gray; 
      padding: 0 17px 3px;
      margin: 0 15px 0 0;
      border-radius: $radius;
    }

    &.active {
      color: #676767;

      @media (min-width: 768px) {
        color: #000;
      }

      .icon {
        display: block; 
      }
    }
  }

  &-title {
    font-family: $font-light;
    font-size: 17px;
    line-height: 1;  
    text-transform: lowercase;

    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .icon {
    width: 8px;
    height: 4px;  
    margin-left: 8px;  
    display: none; 

    img {
      display: block; 
    } 
  }

  .filter__item--parent {
    @media (min-width: 768px) {
      display: none;
    }

    .icon {
      display: inline-block;
      width: 12px;
      height: 11px;
      margin: 0 8px 0 0;

      .line {
        width: 12px;
        height: 2px;
        background-color: #c7c7c7;

        &:nth-child(2) {
          width: 10px;
        }

        &:nth-child(3) {
          width: 8px;
        }

        &-wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
        }
      }
    }

    &.active {
      .icon .line {
        background-color: #676767;
      }
    }
  }
}

// ========= search =========
.search {
  position: relative;
  width: 130px; 
  margin-right: 27px;
  border: $border;
  border-radius: $radius;
  min-height: 22px;

  input[type="search"] {
    height: 22px;
    padding: 0 25px 2px 7px;
    border: none;
    border-radius: $radius;
    text-transform: lowercase;
    color: #000;
    font-size: 13px; 
    line-height: 22px;
    outline: none; 
    -webkit-appearance: none; 
    width: 100%; 
    vertical-align: middle;

    &::-webkit-input-placeholder { color: $color-gray; }
    &::-moz-placeholder          { color: $color-gray; } 
    &:-ms-input-placeholder      { color: $color-gray; }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; } 
  }

  &-icon {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 27px;
    height: 13px;
    text-align: center;
    font-size: 12px;
    color: $color-gray;
    background-color: #fff;
    cursor: pointer;
  }
}

// ======= checkbox radio button =====
.radio,
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 7px 0 0 5px;

  & + label {
    position: relative;
    padding: 0 0 10px 27px;
    font-size: 18px;
    line-height: 1;
    font-family: $font-light;
    color: $color-gray;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid $color-gray;
      border-radius: 50%;
      background: #FFF;
    }

    &:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #000;
      opacity: 0;
      transition: .2s;
    }
  }

  &:checked + label {
    font-family: $font-main;
    color: #000;

    &:before {
      border: 1px solid #000;
    }

    &:after {
      opacity: 1;
    }
  }
}

// ========= btn ========
.btn {
  position: relative;
  display: block;
  text-align: center;
  height: 33px;
  padding:  0 10px;
  line-height: 33px;
  font-family: $font-main;
  border-radius: $radius;

  &--black {
    color: #fff;
    font-size: 16px;
    background-color: #000;
  }

  &--arrow {
    &:before {
      position: absolute;
      content: "";
      right: 13px;
      top: 50%; 
      transform: rotate(-45deg) translateY(-50%);
      width: 2px;
      height: 2px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transition: .2s;
    }

    &:hover:before {
      right: 9px;
    }
  }
}

