.header {
  @media (min-width: 768px) {
    padding: 15px 0;
  }

  &-container {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }

  &__wrap {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    border-top: $border;
    border-bottom: $border;

    @media (min-width: 768px) {
      display: block;
      width: 295px;
      margin-bottom: 0;
      padding: 0;
      border: none;
    }
  }

  &-right {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      width: 295px;
    }
  }

  &__link {
    display: inline-block;
    width: 32.7vw;
    padding: 0 10px;
    text-align: center;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
    font-family: $font-medium;
    border-right: $border;

    @media (min-width: 768px) {
        width: auto;
        padding: 0 33px 0 0;
        font-size: 15px;
        font-family: $font-light;
        color: $color-gray;
    } 

    &.active {
      font-family: $font-medium;
      color: #000;

      span{
         position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          min-width: 3px;
          min-height: 3px;
          background-color: #000;
          border-radius: 50%;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      @media (min-width: 768px) {
        padding-left: 26px;
        border: none;
      } 
    }
  }

  .logo {
    width: 200px;
    margin: 0 auto;

    @media (min-width: 1200px) {
      width: 280px;
    } 
  }

  &__user {
    .login {
      margin-right: 20px;
    }

    .icon {
      font-size: 20px;
    }
  }
  
  .account-mobile {
    display: inline-block;

    .header__link {
      border: none;
    }
  }
}

// =========== mobile burger ========
.nav-burger {
    display: none;
    position: relative;
    width: 22px;
    height: 14px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @media only screen and (max-width : 767px) {
        display: block;
    }
}

.nav-burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #292929;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.nav-burger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.nav-burger span:nth-child(2) {
    top: 5px;
    transform-origin: left center;
}

.nav-burger span:nth-child(3) {
    top: 10px;
    transform-origin: left center;
}

.nav-burger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 2px;
}

.nav-burger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 15px;
    left: 2px;
}
