.header {
  @media (min-width: 768px) {
    padding: 6px 0;
  }

  &-container {
    width: 100%;
    background-color: #fff;
    z-index: 10;

    @media (min-width: 768px) {
      position: fixed;
    }
  }

  &__wrap {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    border-top: $border;
    border-bottom: $border;

    @media (min-width: 768px) {
      display: block;
      width: 295px;
      margin-bottom: 0;
      padding: 0;
      border: none;
    }
  }

  &-right {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
      width: 295px;
    }
  }

  &__link {
    display: inline-block;
    width: 32.7vw;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-family: $font-medium;
    border-right: $border;

    @media (min-width: 768px) {
      width: auto;
      padding: 0 33px 0 0;
      font-size: 1.5vw;
      font-family: $font-light;
      color: $color-gray;
    }

    @media (min-width: 1200px) {
      font-size: 1.1vw;
    }

    @media (min-width: 1440px) {
      font-size: 16px;
    } 

    &.active {
      font-family: $font-medium;
      color: #000;

      span{
         position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          min-width: 3px;
          min-height: 3px;
          background-color: #000;
          border-radius: 50%;

          @media (min-width: 768px) {
            display: none;
          }
        }
      }
    }

    &:nth-child(2) {
      @media (min-width: 768px) {
        padding-left: 26px;
        border: none;
      } 
    }
  }

  .logo {
    width: 200px;
    margin: 0 auto;

    @media (min-width: 1200px) {
      width: 280px;
    } 
  }

  &__user {
    .login {
      margin-right: 20px;
    }

    .icon {
      font-size: 20px;
    }
  }
  
  .account-mobile {
    display: inline-block;

    .header__link {
      border: none;
    }
  }

  .wishlist-link,
  .home-wishlist-link {
    width: 24px;
    height: 24px;
  }
}

// ======== wishlist header ======
.home {
  .header__wishlist {
    display: none;
  }
}

.wishlist-page {
  .header-container {
    position: fixed;
  }
  
  .header-left,
  .logo-wrap {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .header__wishlist {
    position: relative;
    padding: 25px 0;

    &-title {
      font-size: 4vw;
      color: #000;
      text-transform: uppercase;
      font-family: $font-medium;

      @media (min-width: 576px) {
        font-size: 3vw;
      }
    }

    .close-icon {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      cursor: pointer;

      img {
        display: block;
      }
    }
  }
}
