// ========= sidebar ==========
.sidebar {
	width: 200px;

	&-title {
		width: 190px;
		font-family: $font-medium;
		color: #000;
		margin-bottom: 17px;
		padding-bottom: 5px;
		font-size: 21px;
		border-bottom: $border;
	}

	&-list {
		margin-bottom: 17px;
	}

	.acordeon {
		&-box {
			overflow: hidden;

			.ac-parent {
				position: relative;
				cursor: pointer;

				&:before {
					position: absolute;
					content: "";
					right: 20px;
					top: 50%; 
					transform: rotate(45deg) translateY(-50%);
					width: 2px;
				    height: 2px;
				    border: solid #000;
				    border-width: 0 2px 2px 0;
				    display: inline-block;
				    padding: 3px;
				}
			}

			.ac-child {
				height: 0px;
				overflow: hidden;
				transition: .2s;
			}

			&.active {
				.ac-parent:before {
					right: 15px;
					transform: rotate(-135deg) translateY(-50%);
				}
				.ac-child {
					height: 100%;
				}
			}
		}
	 	
	}

	.search {
		width: 190px;
		margin-bottom: 13px;

		input[type=search] {
			height: 30px;
			padding: 0 20px 0 13px;
			font-size: 17px;

		}

		&-icon {
			font-size: 13px;
		}
	}

	.btn {
		width: 190px;
	}
}

// ========= product ========
.product {
	    width: calc(100% - 200px);

	&__item {
		position: relative;
		width: 31%;
		margin: 0 0 2% 2%;
	}

	&-preview {
		width: 30%;
		padding-top: 5%;

		.img-box {
    		width: 66%;
    		margin: 0 23px 0 auto;
    	}
	}

	&-img {
		position: relative;
		width: 70%;

		.discount {
			position: absolute;
			top: -7px;
		    left: -7px;
		    padding: 5px 12px;
		    color: #fff;
		    font-size: 15px;
		    border-radius: 8px;      
		}
	}

	&-desc {
		position: absolute;
		bottom: -3px;

		&__content {
			width: 55%;

			@media (min-width: 1440px) {
				width: 76%;
			}
		}	
	}

	&-title {
		font-family: $font-bold;
		font-size: 17px;
		text-transform: uppercase;

		@media (min-width: 1440px) {
			font-size: 22px;
		}
	}

	&-filter {
		margin: 0 auto 4%;
		font-size: 18px;
		color: $color-gray-dark;
		font-family: $font-light;

		@media (min-width: 1440px) {
			font-size: 21px;
		}
	}

	.price {
		margin-bottom: 4%;

		&__item {
			font-size: 20px;
			font-family: $font-bold;

			@media (min-width: 1440px) {
				font-size: 26px;
			}

			&-hot {
				margin-left: 3px;
				color: $color-red;
			}
		}

		&-line {
			position: relative;

			&:before {
				position: absolute;
				content: "";
				width: 103%;
				height: 1px;
				top: 50%;
				transform: translateY(-50%);
				margin-top: 2px;
				background-color: #000;
			}
		}
	}

	.location {
		&-link {
			text-align: center;
			display: block;
			padding: 0 10px;
			height: 30px;
			margin-right: 10px;
			background-color: #fff;
			border: $border;
			border-radius: $radius;
			font-size: 14px;
			font-family: $font-main;
			color: #696969;
			line-height: 30px;
			text-transform: uppercase;

			@media (min-width: 1440px) {
				padding: 0 15px;
				height: 37px;
				font-size: 17px;
				line-height: 37px;
			}

			.icon {
				display: inline-block;
				vertical-align: middle;
				width: 14px;
				height: 15px;
				margin-left: 3px;

				@media (min-width: 1440px) {
					width: 17px;
					height: 20px;
				}

				img {
					display: block;
				}
			}
		}
	}

	&-star .icon {
		width: 30px;
		height: 30px;
		background-color: #fff;
		border: $border;
		border-radius: $radius;
		font-size: 16px;
		color: #696969;
		line-height: 30px;
		cursor: pointer;

		@media (min-width: 1440px) {
			width: 37px;
			height: 37px;
			font-size: 17px;
			line-height: 37px;
		}
	}
}

