$font-main: 'HelveticaNeue', Arial, sans-serif;
$font-bold: 'HelveticaNeue-Bold', Arial, sans-serif;
$font-medium: 'HelveticaNeue-Medium', Arial, sans-serif;
$font-light: 'HelveticaNeue-Light', Arial, sans-serif;

$body-color: #fff;
$color-red: #c7362d;
$color-yellow: #e9d02a;
$color-gray: #868686;
$color-gray-light: #f8f8fa;
$color-gray-dark: #7b7b7b;

$border: 1px solid #c7c7c7;
$radius: 6px;
